*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position:sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, red,blue);
}

#banner{
    background-image: linear-gradient(to right, red,blue);
    color: white;
}

.title::before{
    content: '';
    display: block;
    background-color: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(62px);
}
/* .title::after{
    content: '';
    display: block;
    background-color: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(7px);
} */