*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position:sticky;
    top: 0;
    z-index: 10;
}

.navbar, footer{
    background-image: linear-gradient(to right, red,blue);
}

#banner{
    background-image: linear-gradient(to right, red,blue);
    color: white;
}

.title{
    width: 200px;
    margin: 0 auto;
    border-bottom: 5px solid #7b1798;
}

/* .title::before{
    content: '';
    display: block;
    background-color: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(62px);
} */
.title::after{
    content: '';
    display: block;
    background-color: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(7px);
}

.iconHover img{
    transition: 0.5s;
}

.iconHover:hover img{
    transform: translateY(-10px);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }

  #myBtn:hover {
    background-color: #7b1798;
  }